<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__links">
            <li class="footer__link mob"><a href="about.php"><i class="fa fa-house-chimney footer__link--color"></i></a></li>
            <li class="footer__link mob"><a href="contact.php"><i class="fa-solid fa-magnifying-glass footer__link--color"></i></a></li>
            <li class="footer__link mob"><a href="login.php"><i class="fa-solid fa-globe footer__link--color"></i></a></li>
            <li class="footer__link mob"><a href="login.php"><i class="fa-solid fa-book footer__link--color"></i></a></li>
        </ul>
    </nav>
</footer>