<header>
    <h2>Ici une navbar</h2>
    {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('app_login') }}">Connexion</a>
    {% endif %}
    {%  if is_granted('ROLE_ADMIN') %}
        <div class=\"row\">
            <div class=\"col-md-12\">
                <a href=\"{{ path('admin_index') }}\" class="btn">Admin</a>
            </div>
        </div>
    {% endif %}
</header>