<nav class="navfoot desk" >
    <ul class="navfoot__links desk">
        <li class="navfoot__link desk"><a href="about.php"><i class="fa fa-house-chimney footer__link--color"></i></a></li>
        <li class="navfoot__link desk"><a href="contact.php"><i class="fa-solid fa-magnifying-glass footer__link--color"></i></a></li>
        <li class="navfoot__link desk"><a href="login.php"><i class="fa-solid fa-globe footer__link--color"></i></a></li>
        <li class="navfoot__link desk"><a href="login.php"><i class="fa-solid fa-book footer__link--color"></i></a></li>
    </ul>
</nav>