{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% block javascripts %}
        {{ encore_entry_script_tags('feed') }}
    {% endblock %}
    <div id="feed"></div>
{% endblock %}

