@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  src: url('/public/fonts/ubuntu/Ubuntu-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url('/public/fonts/ubuntu/Ubuntu-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  src: url('/public/fonts/ubuntu/Ubuntu-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('/public/fonts/open-sans/OpenSans-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('/public/fonts/open-sans/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('/public/fonts/open-sans/OpenSans-Bold.ttf') format('ttf');
}