#avatarBtn {
  height: 36px;
  width: 36px;
  border: $main7 1px solid;
  cursor: pointer;
  border-radius: 50%;
}

.navbar__avatar {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 36px;
  width: 36px;
}