.dots-5 {
  margin-top: 25vh;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: d5 1s infinite linear alternate;
  align-self: center;
}
@keyframes d5 {
  0%  {box-shadow: 20px 0 $main10, -20px 0 $main3;background: $main10 }
  33% {box-shadow: 20px 0 $main10, -20px 0 $main3;background: $main3}
  66% {box-shadow: 20px 0 $main3,-20px 0 $main10; background: $main3}
  100%{box-shadow: 20px 0 $main3,-20px 0 $main10; background: $main10 }
}