.navfoot {
  background-color: $main9;
  height: 48px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 12px;
  border-top: $main6 1px solid;

  &__links {
    display: flex;
    justify-content: space-around;
  }

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 24px;
    width: 24px;

    & i {
        font-size: 24px;
        color: $info12;
    }
  }
}

#addProjectBtn {
  background-color: $info9;
  border-radius: 50%;
  padding: 5.5px 7.75px 5.5px 7.75px;
  height: 48px;
  width: 48px;
  position: relative;
  bottom: 24px;
  border: $main7 1px solid;

  & i {
      font-size: 36px;
      color: $main9;
  }
}