<form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ceci?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i> Supprimer</button>
</form>