{% extends 'base.html.twig' %}

{% block title %}Modifier la fiche animal{% endblock %}

{% block body %}
    <div class="container w-50 mx-auto">
        <h1>Edition la fiche animal</h1>

        {{ include('project/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


        {{ include('project/_delete_form.html.twig') }}

    </div>
{% endblock %}